/* fonts */

@import url('https://fonts.googleapis.com/css?family=Anton|Oswald:200,300,400|Teko:300,400|Parisienne&display=swap&subset=latin-ext');

/* global */

body {
    font-family: 'Oswald', sans-serif;
    color: rgba(227, 227, 227, 1);
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("images/background1.jpg");
    background-size: contain;
    background-blend-mode: multiply;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

/* headers */

/* nav header */

h1 {
    font-family: 'teko', sans-serif;
    font-weight: 400;
    color: rgba(92, 85, 82, 1);
    text-transform: uppercase;
    margin: .75em 1em;
    float: right;
}

h2,
h3,
h5 {
    font-family: 'teko', sans-serif;
    font-weight: 100;
}

/* h2 main title */

h2 {
    color: rgba(227, 227, 227, 1); 
}

/* desktop header */

h3 {
    font-size: 2rem;
    color: rgba(227, 227, 227, 1);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

/* mobile header */

h4 {
    font-family: 'Anton' sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    margin: 0 0 30px 0;
    padding: .1em 1em;
    background: rgba(146, 20, 12, 1);
}

/* section treningi headers */

h5 {
    font-size: 5rem;
    line-height: 4rem;
    color: rgba(227, 227, 227, 1);
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    padding: 0;
}

/* desktop header */

h6 {
    font-family: 'teko', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    color: rgba(146, 20, 12, 1);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 2em 0 2em 0;
    padding: 0;
}

/* standard button */

button {
    font-family: 'oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(227, 227, 227, 1);
    width: 100%; 
    max-width: 340px;
    height: 60px;
    background-color: rgba(146, 20, 12, 0);
    border: 1px solid rgba(146, 20, 12, 1);
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    background: rgba(227, 227, 227, 0.1);
}

/* section paragraf */

p {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgba(227, 227, 227, 1);
    text-align: justify;
    margin: 0 0 30px 0;
    padding: 0;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

/* hide/show items in desktop/mobile view */

.desktop {
    display: none;
}

/* center main buttons */

.btn {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}

/* add separator and margin-bottom to every section */

section {
    border-bottom: 1px solid rgba(146, 20, 12, 1);
    margin: 0 0 30px 0;
}

/* change h3 color in section boks, crossfit, siłownia */

.header-color-change {
    color: rgba(148, 139, 137, 1);
}

/* header, hamburger-menu */

.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    line-height: 3.5rem;
    margin: 0 1.5em;
}

.menu {
    text-align: left;
    width: 100%;
    display: none;
}

.menu a {
    font-family: 'oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0, 1);
    text-transform: uppercase;
    background: rgba(148, 139, 137, 0.9);
    clear: left;
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin: 0;
    border-bottom: 2px solid rgba(148, 139, 137, 1);
}

.menu a:hover,
.menu a:focus {
    background: rgba(148, 139, 137, 1);
}

label {
    float: left;
    display: block;
    margin: 1.9em;
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}

.social-box-mobile {
    display: flex;
    width: 290px;
    justify-content: space-between;
    margin: 0 2.2em;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
}

.hero-features {
    margin: 90px 0 0 0;
}

.hero-title {
    background-color: rgba(146, 20, 12, 0.8);
    font-size: 4.1rem;
    line-height: 5rem;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    padding: .5em;  
}

.hero-main-titleA,
.hero-main-titleB {
    margin: 0;
    padding: 0;
}

.hero-main-titleB {
    line-height: 3rem;
    margin-top: .1em 
}

.hero-subtitle1 {
    font-family: 'teko', sans-serif;
    color: rgba(146, 20, 12, 1);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}

/* main/aside content margin */

.main {
    margin: 0 1em;
}

/* treningi */

.treningi {
    display: flex;
    flex-direction: column;
}

.treningi-features-panel {
    margin: 0 0 30px 0;
}

.treningi-features-panel-footer {
    text-align: right;
}

.treningi a {
    display: inline-block;
    font-family: 'oswald', sans-serif;
    font-size: 1rem;
    color: rgba(227, 227, 227, 1);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    background: rgba(92, 85, 82, 1);
    padding: .1em 1em;
}

.treningi a:hover,
.treningi a:focus {
    background: rgba(92, 85, 82, 0.5);
}

/* trenerzy */

.trenerzy-features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}

.trenerzy-features-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.trenerzy-features-panel img {
    width: 100%;

}

.trenerzy-features-panel-name {
    width: 90%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(146, 20, 12, 1);
    box-sizing: border-box;
    margin: -5em 0 40px 0;
}

.trenerzy-features:last-child {
    margin: 0;
}

.name1 {
    font-family: 'oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.name2 {
    font-family: 'oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/* oferta */

.oferta-features {
    font-family: 'teko', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.oferta-features p {
    font-size: 2rem;
}

.oferta-features-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 43%;
    min-width: 40%;
    margin: 0 0 30px 0;
    padding: .5em;
    border: 1px solid rgba(146, 20, 12, 1);
}

.oferta-features-panel a {
    display: block;
    width: 50%;
    font-size: 1.5rem;
    color: rgba(227, 227, 227, 1);
    text-align: center;
    margin: .5em;
    background: rgba(146, 20, 12, 0.5);
    text-decoration: none;
}

.oferta-features-panel a:hover,
.oferta-features-panel a:focus {
    background: rgba(146, 20, 12, 1);
}

.oferta-features-panel-period {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.period {
    width: 50px;
    text-align: center;
    border: 2px solid rgba(227, 227, 227, 1);
    border-radius: 50%;
}

.oferta-features-panel-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* partnerzy */

.partnerzy-features-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(146, 20, 12, 1);
    margin: 0 0 30px 0;
}

.partnerzy p {
    font-family: 'teko', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: .5em;
}

/* kontakt */

.footer {
    margin: 0 1em 30px 1em;
}

footer p {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.email {
    text-transform: lowercase;
}

.adress {
    display: flex;
    flex-direction: column;
}

.copyright {
    margin: 2em 0;
}

.copyright p {
    font-size: 1rem;
    font-weight: 100;
    text-transform: capitalize;
}

/*==========================================
============================================
MEDIA
============================================
==========================================*/

@media (min-width: 768px) {

    /* global */

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    h2 {
    font-weight: 400;
    }

    h3 {
        font-size: 3.5rem;
        line-height: 2rem;
        margin: 0 0 1em 0;
        text-align: center;
    }

    /* remove separotors in sections */

    section {
        border-bottom: none;
        padding: 0 0 5em 0;
    }

    /* headers in trenerzy and oferta*/

    .left-header {
        text-align: left;
        margin: 2em 0 .5em 0;
    }

    /* header and nav */

    .header {
        display: block;
    }

    .menu {
        max-width: 30%;
    }

    .header-back-title {
        position: absolute;
        width: 100%;
        font-family: 'teko', sans-serif;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px rgba(227, 227, 227, 0.1);
        font-size: 6rem;
        line-height: .1rem;
        text-transform: uppercase;
        text-align: right;
        margin: .55em 0 0 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    /* hero */

    .hero {
        height: 100vh;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url("images/hero.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;  
    }

    .hero p {
        margin: 0 0 20px 0;
    }

    .hero-quote {
        font-family: 'Parisienne', cursive;
        text-align: right;
        padding: 0 1.5em;
        margin: 2em 0;
    }

    .hero-features {
        display: flex;
        justify-content: space-between;
        margin: 3em 0 0 7em;
    }

    .hero-above-title {
        display: flex;
        text-transform: uppercase;
    }

    .hero-above-title p {
        font-family: 'teko', sans-serif;
        color: rgba(92, 85, 82, 1);
        font-size: 1.5rem;
        font-weight: 100;
        line-height: .5rem;
        margin: 0 1em .4em .2em;
    }

    .hero-title {
        display: flex;
        text-align: left;
        background-color: rgba(146, 20, 12, 0);
        font-size: 4rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0; 
    }

    .hero-main-titleA,
    .hero-main-titleB {
        line-height: 6rem;
    }

    .hero-main-titleB {
        margin: 0 0 0 .2em;
    }

    .hero-subtitle p {
        font-family: 'teko', sans-serif;
    }

    .hero-subtitle1 {
        font-size: 2rem;
        font-weight: 100;
        line-height: 2rem;
        text-align: right;
    }

    .hero-subtitle2 {
        font-size: 1.5rem;
        color: rgba(92, 85, 82, 1);
        font-weight: 100;
        line-height: 1.5rem;
        text-align: right;
        text-transform: uppercase;
    }

    .btn-desktop {
        text-align: right;
        margin: 0 0 20px 0;
    }

    .social-box-desktop {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 3em 2em 0 0;
    }

    .social-box-desktop img {
        margin: 1em 0;
    }

    /* main/aside content margin */

    .main {
        margin: 0 auto;
    }   

    .treningi-features,
    .trenerzy,
    .boks-features,
    .crossfit-features,
    .siłownia-features,
    .oferta,
    .partnerzy-features,
    .footer-features {
        width: 80%;
        margin: 0 auto;
    }

    /* treningi */

    .treningi {
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url("images/section-treningi.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center; 
    }

    .treningi-features {
        display: flex;
        flex-direction: column;
    }

    .treningi-features-panel {
        display: flex;
    }

    .treningi-features-panel-part {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;;
        margin: 0 1.5em;
    }

    .treningi img {
        margin: 0 0 70px 0;
    }

    .treningi p {
        font-size: 1.3em;
        margin: 0 0 70px 0;
    }

    /* trenerzy */

    .trenerzy-features {
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0;
    }

    .trenerzy-features-panel-name {
        width: 100%;
        margin: 0 0 30px 0;
    }

    /* boks crossfit siłownia */

    .boks-back-title {
        position: absolute;
        width: 100%;
        font-family: 'teko', sans-serif;
        font-weight: 100;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px rgba(227, 227, 227, 0.1);
        font-size: 9rem;
        line-height: 14rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0 0 0 .5em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .boks {
        width: 100%;
        margin: 0; 
        padding: 0;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url("images/section-boks.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
    }

    .crossfit {
        width: 100%;
        margin: 0; 
        padding: 0;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url("images/section-crossfit.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center; 
    }

    .siłownia {
        width: 100%;
        margin: 0; 
        padding: 0;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url("images/section-gym.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center; 
    }

    .boks-features,
    .crossfit-features,
    .siłownia-features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boks p,
    .crossfit p,
    .siłownia p {
        width: 50%;
        margin: 0 0 3em 0;
    }

    .boks button,
    .crossfit button,
    .siłownia button {
        width: 340px;
        margin: 0 0 3em 0;
    }

    /* oferta */

    .oferta-features {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .oferta-features-panel {
        flex-direction: row;
        align-items: center;
        min-width: 100%;
        padding: 1em 1em;
    }

    .oferta-features-panel-period {
        margin: 1em;
        min-width: 20%;
    }

    .oferta-features-panel-period p {
        margin: 0;
        padding: .5em;
    }

    .oferta-features-part {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: 1em 0;
    }

    .oferta-bullets p {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0 auto 1em auto;
        text-transform: lowercase;
        width: 80%;
    }

    /* partnerzy */

    .partnerzy {
        background: rgba(92, 85, 82, 0.1);
        display: flex;
        flex-direction: column;
    }

    .partnerzy-features {
        display: flex;
        justify-content: space-between;
    }

    .partnerzy-features-panel {
        min-width: 30%;
        padding: .5em;
    }

    .partnerzy-features-panel img {
        width: 50%;
    }

    .partnerzy p {
        font-size: 2rem;
        padding: 0;
    }

    /* kontakt */

    .footer {
        margin: 0;
        background: rgba(92, 85, 82, 0.1);
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    footer p {
        text-align: left;
    }

    .adress {
        flex-direction: row;
    }

    .copyright {
        width: 80%;
        padding: 2em;
        border-top: 1px solid rgba(227, 227, 227, 1);
    }

    .copyright p {
        text-align: center;
    }

}

@media (min-width: 992px) {

    /* hero */

    .hero-features {
        margin: 0 0 0 7em;
    }

    .hero-above-title {
        margin: 0 0 20px 0;
    }

    .hero-above-title p {
        font-size: 1.9rem;
        font-weight: 100;
        line-height: 1.9rem;
        margin: 0 1em 0 .2em;
    }

    .hero-title {
        font-size: 5.8rem;
    }

    .hero-main-titleA,
    .hero-main-titleB {
        line-height: 6.8rem;
    }

    .hero-subtitle p {
        font-family: 'teko', sans-serif;
        margin: 0 0 20px 0;
    }

    .hero-subtitle1 {
        font-size: 2.5rem;
        line-height: 2.3rem;
    }

    .hero-subtitle2 {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .social-box-desktop {
        margin: 5em 2em 0 0;
    }

    /* treningi */

    .treningi-features {
        flex-direction: row;
        justify-content: space-between;
    }

    .treningi-features-panel {
        flex-direction: column;
        width: 25%;
        align-items: stretch;
    }

    /* boks crossfit siłownia */

    .boks-back-title {
        font-size: 14rem;
        line-height: 12rem;
    }

    /* oferta */

    .oferta-features {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .oferta-features-panel {
        flex-direction: column;
        max-width: 18%;
        min-width: 18%;
        padding: 2em 1em;
    }

    .oferta-features-panel:hover {
        background: rgba(227, 227, 227, 0.1);
    }

    .oferta-bullets p {
        font-size: 1.5rem;
    }

    /* partnerzy */

    .partnerzy p {
        font-size: 3.5rem;
        padding: 0;
    }

}





