/* fonts */

@import url('https://fonts.googleapis.com/css?family=Anton|Oswald:200,300,400|Teko:300,400|Parisienne&display=swap&subset=latin-ext');

/* global */

body {
    font-family: 'Oswald', sans-serif;
    color: rgba(227, 227, 227, 1);
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("images/background1.jpg");
    background-size: contain;
    background-blend-mode: multiply;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

/* headers */

/* nav header */

h1 {
    font-family: 'teko', sans-serif;
    font-weight: 400;
    color: rgba(92, 85, 82, 1);
    text-transform: uppercase;
    margin: .75em 1em;
    float: right;
}

h2,
h3 {
    font-family: 'teko', sans-serif;
    font-weight: 100;
}

/* h2 main title */

h2 {
    color: rgba(227, 227, 227, 1); 
}

/* desktop header */

h3 {
    font-size: 2rem;
    color: rgba(227, 227, 227, 1);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

/* mobile header */

h4 {
    font-family: 'Anton' sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    margin: 0 0 30px 0;
    padding: .1em 1em;
    background: rgba(146, 20, 12, 1);
}

/* standard button */

button {
    font-family: 'oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(227, 227, 227, 1);
    width: 100%; 
    max-width: 340px;
    height: 60px;
    background-color: rgba(146, 20, 12, 0);
    border: 1px solid rgba(146, 20, 12, 1);
    box-sizing: border-box;
    cursor: pointer;
}

/* section paragraf */

p {
    font-size: 1.5rem;
    color: rgba(227, 227, 227, 1);
    text-align: justify;
    margin: 0 0 30px 0;
    padding: 0;
}

/* hide/show items in desktop/mobile view */

.desktop {
    display: none;
}

/* center main buttons */

.btn {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}

/* add separator and margin-bottom to every section */

section {
    border-bottom: 1px solid rgba(146, 20, 12, 1);
    margin: 0 0 30px 0;
}

/* change h3 color in section boks, crossfit, siłownia */

.h3-color-change {
    color: rgba(148, 139, 137, 1);
}

/* header, hamburger-menu */

.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    line-height: 3.5rem;
    margin: 0 1.5em;
}

.menu {
    text-align: left;
    width: 100%;
    display: none;
}

.menu a {
    font-family: 'oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0, 1);
    text-transform: uppercase;
    background: rgba(148, 139, 137, 0.9);
    clear: left;
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin: 0;
    border-bottom: 2px solid rgba(148, 139, 137, 1);
}

.menu a:hover,
.menu a:focus {
    background: rgba(148, 139, 137, 1);
}

label {
    float: left;
    display: block;
    margin: 1.9em;
    cursor: pointer;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}

.social-box-mobile {
    display: flex;
    width: 290px;
    justify-content: space-between;
    margin: 0 2.2em;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
}

.hero-features {
    margin: 90px 0 0 0;
}

.hero-title {
    background-color: rgba(146, 20, 12, 0.8);
    font-size: 4.1rem;
    line-height: 5rem;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    padding: .5em;  
}

.hero-main-titleA,
.hero-main-titleB {
    margin: 0;
    padding: 0;
}

.hero-main-titleB {
    line-height: 3rem;
    margin-top: .1em 
}

.hero-subtitle1 {
    font-family: 'teko', sans-serif;
    color: rgba(146, 20, 12, 1);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}

/* main/aside content side margin */

.main {
    margin: 0 1em;
}

/* treningi */

.treningi {
    display: flex;
    flex-direction: column;
}

.treningi-features-panel {
    margin: 0 0 30px 0;
}

.treningi-features-panel-footer {
    text-align: right;
}

.treningi a {
    display: inline-block;
    font-family: 'oswald', sans-serif;
    font-size: 1rem;
    color: rgba(227, 227, 227, 1);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    background: rgba(92, 85, 82, 1);
    padding: .1em 1em;
}

/* trenerzy */

.trenerzy {
    margin: 0 0 30px 0;
}

.trenerzy-features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}

.trenerzy-features-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.trenerzy-features-panel img {
    width: 100%;
}

.trenerzy-features-panel-name {
    width: 100%;
    border: 1px solid rgba(146, 20, 12, 1);
    box-sizing: border-box;
    margin: 0 0 30px 0;
}

.trenerzy-features:last-child {
    margin: 0;
}

.name1 {
    font-family: 'oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.name2 {
    font-family: 'oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/* program */

.program-features {
    font-family: 'teko', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program-features p {
    font-size: 2rem;
}

.program-features-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 43%;
    min-width: 40%;
    margin: 0 0 30px 0;
    padding: .5em;
    border: 1px solid rgba(146, 20, 12, 1);
}

.program-features-panel a {
    display: block;
    width: 50%;
    font-size: 1.5rem;
    color: rgba(227, 227, 227, 1);
    text-align: center;
    margin: .5em;
    background: rgba(146, 20, 12, 0.8);
    text-decoration: none;
}

.program-features-panel-period {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.period {
    width: 50px;
    text-align: center;
    border: 2px solid rgba(227, 227, 227, 1);
    border-radius: 50%;
}

.program-features-panel-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* partnerzy */

.partnerzy p {
    display: flex;
    flex-direction: column;
    font-family: 'teko', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: .5em;
    border: 1px solid rgba(146, 20, 12, 1);
}

/* kontakt */

.footer {
    margin: 0 1em 30px 1em;
}

footer p {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.email {
    text-transform: lowercase;
}

.social-box-footer {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.social-box-footer img {
    margin: 0 2em;
}

.map-mobile {
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgba(146, 20, 12, 1);
}

.map-mobile img {
    width: 100%; 
}

.copyright p {
    font-size: 1rem;
    font-weight: 100;
    text-transform: capitalize;
}

/*==========================================
============================================
MEDIA
============================================
==========================================*/

@media (min-width: 768px) {

    /* global */

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    h2 {
    font-weight: 400;
}

    /* header and nav */

    .header {
        display: block;
    }

    .menu {
        max-width: 30%;
    }

    /* hero */

    .hero {
        height: 100vh;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url("images/hero.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;  
    }

    .hero p {
        margin: 0 0 20px 0;
    }

    .hero-quote {
        font-family: 'Parisienne', cursive;
        text-align: right;
        padding: 0 1.5em;
    }

    .hero-features {
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 7em;
    }

    .hero-above-title {
        display: flex;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }

    .hero-above-title p {
        font-family: 'teko', sans-serif;
        color: rgba(92, 85, 82, 1);
        font-size: 1.9rem;
        font-weight: 100;
        line-height: 1.9rem;
        margin: 0 1em 0 .2em;
    }

    .hero-title {
        display: flex;
        text-align: left;
        background-color: rgba(146, 20, 12, 0);
        font-size: 5.8rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0; 
        
    }

    .hero-main-titleA,
    .hero-main-titleB {
        margin: 0;
        padding: 0;
        line-height: 6.8rem;
    }

    .hero-main-titleB {
        margin: 0 0 0 .2em;
    }

    .hero-subtitle p {
        font-family: 'teko', sans-serif;
        margin: 0 0 20px 0;
    }

    .hero-subtitle1 {
        color: rgba(146, 20, 12, 1);
        font-size: 2.5rem;
        font-weight: 100;
        line-height: 2.3rem;
        text-align: right;
        padding: 0;
    }

    .hero-subtitle2 {
        font-size: 1.9rem;
        color: rgba(92, 85, 82, 1);
        font-weight: 100;
        line-height: 1.9rem;
        text-align: right;
        text-transform: uppercase;
    }

    .btn-desktop {
        text-align: right;
        margin: 0 0 20px 0;
    }

    .social-box-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2em 0 0;
    }

    .social-box-desktop img {
        margin: 1.5em 0;
    }
}





